
<p>hello world</p>
<h2>Text setting</h2>
<p>{{ section.settings.text-setting }}</p>
<h2>Text Area setting</h2>
<p>{{ section.settings.textarea-setting | newline_to_br }}</p>
<h2>Rich Text setting</h2>
<div>{{ section.settings.richtext-setting }}</div>
<h2>Inline rich Text setting</h2>
<div>{{ section.settings.inline-richtext-setting }}</div>
<h2>number</h2>
<div>{{ section.settings.number-setting }}</div>
<h2>Range</h2>
<div>{{ section.settings.range-setting-setting }}</div>
<div>
    {% if section.settings.product_setting != blank %}
    <h2>{{ section.settings.product_setting.title }}</h2>
    {{ section.settings.product_setting.featured_image | image_url: width: 600 | image_tag }}
    <p>{{ section.settings.product_setting.description }}</p>
    <p>{{ section.settings.product_setting.price | money }}</p>
  {% else %}
    <p>No product selected.</p>
  {% endif %}
</div>
   <h2>font setting</h2>
   <p>font settings: {{ section.settings.font_setting.family}}</p>
   <style>
    {{ section.settings.font_setting |font-face : font_display : ;'swap'}}
      .tutorial * {
        font-family: {{ section.settings.font_setting.family}};
      }
   </style>
   
}

{% schema %}
 {
    "name": "section tutorial",
 "tag": "section",
"class":"tutorial",
"settings": [
    {
        "type": "text",
        "id": "text-setting",
        "label": "Text",
        "default" : "My first text",
        "info": "just some heloer text"
    },
    {
        "type": "textarea",
        "id": "textarea-setting",
        "label": "Text area",
    },
     {
        "type": "richtext",
        "id": "richtext-setting",
        "label": "Rich text"
    },
    {
        "type": "inline_richtext",
        "id": "inline-richtext-setting",
        "label": "Inline rich text"
    },
    {
        "type": "number",
        "id": "number-setting",
        "label": "Number",
        "default": 10
    },
    {
        "type": "range",
        "id": "range-setting",
        "label": "Range",
         "min": 1,
         "max": 100,
        "unit": "px",
        "default":16
    },
    {
    "type": "product",
    "id": "product_setting",
    "label": "select a product"
    },
    {
    "type": "font_picker",
    "id": "font_setting",
    "label": "select a font",
    "default":"abril_fatface_n4"
    }
],
"blocks": [],
"presets": [
    {
        "name": "section tutorial",
        "settings": {
            
        }
}
]
}
{% endschema %}